################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FamilyTree/obj/Debug/FamilyTree.csproj.CoreCompileInputs.cache
/.vs/FamilyTree/FileContentIndex/e9aa0fdc-2ceb-4af0-b988-26dd2dd58f89.vsidx
/.vs/FamilyTree/FileContentIndex/c28e1172-da1d-4ed6-9377-36dc46cce860.vsidx
