################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FamilyTree/obj/Debug/FamilyTree.csproj.CoreCompileInputs.cache
/.vs/FamilyTree/FileContentIndex/e9aa0fdc-2ceb-4af0-b988-26dd2dd58f89.vsidx
